<h1>About Us</h1>
<p>Because we all could use some support from time to time. Whether we want to rant or we want to rave, eFFoveo is a safe place to do both as well as be comforted and supported by those close to us.</p>
<p>Our website will allow you to:
<ul>

	<li>Share with everyone the awesome deal you just found at your favorite store.</li>
	<li>Share a rant with only those you have selected to support you, and request support in your time of need.</li>

</ul>
</p>
