<h1>About Us</h1>
<p>Our goal at StormDispatch.com is to provide adjusters with the vest best tools we can so that their jobs can be just a little easier.</p>
<p>Our tool suite will allow you to:
<ul>

	<li>Create a view a schedule of appointments</li>
	<li>Keep track of open and closed claims as well as tracking payment</li>
	<li>Create a list of todo's to help you keep better organized</li>
	<li>Keep in touch with other adjusters in your area</li>

</ul>
</p>
