<h1>ramples.com</h1>
<p>Ramples can be rants. Ramples can be raves. Regardless, ramples.com is the go-to place to help navigate through life's ups and downs.</p>
<% if !signed_in? %>
  <%= link_to "Sign Up Now!", signup_path, :class => "signup_button round"%>
<% end %>